#!/usr/bin/env bash

# shellcheck source=lib.sh
source "${REPO_PATH}/lib.sh"

{% if artifact_type == "raw_binary" -%}
# require_commands "TODO: does this package have any dependencies?"
{%- elif artifact_type == "tar.gz" -%}
require_commands tar
{%- elif artifact_type == "tar.xz" -%}
require_commands xz tar
{%- elif artifact_type == "zip" -%}
require_commands unzip
{%- endif %}

# shellcheck disable=SC2034  # variables used in `install_from_github()`
{
  GITHUB_ORG="{{github_org|trim}}"
  GITHUB_REPO="{{github_repo|trim}}"
}
BIN_NAME="{{binary_name|trim}}"

latest_version() {
  echo "${GITHUB_LATEST_TAG}"
  # strip the leading `v` from the tag name:
  # echo "${GITHUB_LATEST_TAG}" | cut --characters 2-
}

installed_version() {
  if ! command_exists "${BIN_NAME}"; then
    echo ""
    return 0
  fi

  installed_package_version
}

artifact_name() {
  echo "{{artifact_name|trim}}"
}

download_url() {
  echo "https://github.com/${GITHUB_ORG}/${GITHUB_REPO}/releases/download/${GITHUB_LATEST_TAG}/$(artifact_name)"
}

install_artifact() {
{%- if artifact_type == "raw_binary" %}
  chmod +x "${ARTIFACT_PATH}"
  mv "${ARTIFACT_PATH}" "${BIN_NAME}"
  install_user_bin "${BIN_NAME}"
{% elif artifact_type == "tar.gz" %}
  tar -xzf "${ARTIFACT_PATH}"
  tree  # TODO: remove me
  subdir="$(basename "${ARTIFACT_PATH}" .tar.gz)"
  install_user_bin "${subdir}/${BIN_NAME}"  # TODO: customize for this package
{% elif artifact_type == "tar.xz" %}
  tar -xf "${ARTIFACT_PATH}"
  tree  # TODO: remove me
  subdir="$(basename "${ARTIFACT_PATH}" .tar.xz)"
  install_user_bin "${subdir}/${BIN_NAME}"  # TODO: customize for this package
{% elif artifact_type == "zip" %}
  unzip "${ARTIFACT_PATH}"
  tree  # TODO: remove me
  install_user_bin "${BIN_NAME}"  # TODO: customize for this package
{% endif -%}
}

install_from_github
install_success "$(latest_version)"
