[Unit]
Description=occasional.d ${TASK_NAME} service
Wants=network-online.target
After=network-online.target

# rate limit settings, related to Restart* settings below
StartLimitIntervalSec=25
StartLimitBurst=4

[Service]
Type=oneshot
ExecStart=${TASK_EXECUTABLE} ${TASK_NAME}
Restart=on-failure
RestartSec=5
