name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Install tools
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl -SsfL http://philcrockett.com/yolo/v1.sh \
            | bash -s -- tagref asdf rush yamlfmt
          asdf plugin add bats "https://github.com/pcrockett/asdf-bats.git"
          asdf plugin add shfmt "https://github.com/pcrockett/asdf-shfmt.git"
          asdf install
          echo "${HOME}/.asdf/shims" >> "${GITHUB_PATH}"

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0

      - name: pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd  # v3.0.1
        with:
          extra_args: --show-diff-on-failure --color=always --all-files

      - name: tagref
        run: make tagref

      - name: test
        run: make test
